body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: #DF2E38; */
    font-family: 'Roboto', sans-serif;
}

li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #FF8787;
}

.logo{
    cursor: pointer;
    width: 60px;
    height: 62px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.nav-links li a:hover{
    color: #c42a2a;
}

.login {
    padding: 9px 25px;
    margin-right: 20px;
    color: #EEEEEE;
    background-color: #2C2F33;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login:hover{
    background-color: rgba(64, 164, 237,0.8);
    outline: 2px solid black;
}

.logout {
    padding: 9px 25px;
    background-color: #C7E8CA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}

.logout:hover{
    background-color: rgba(133, 237, 64, 0.8);
    outline: 2px solid rgb(167, 205, 17);
}


.container{
    width: 80%;
    margin: 0 auto;
}


.logo{
    float: left;
}

nav{
    float: right;
}


/* Main Styles */

header{
    height: 30px;
}

#hero {
    background-color: #DDF7E3;
    height: 300px;
    display: flex;
    align-items: center;
}

#hero h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

#hero p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
    color: black;
}

#hero .btn {
    margin: 0 auto;
}


.container {
    text-align: center;
    color: black;
}

h2 { 
    font-size: 36px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    padding: 9px 25px;
    background-color: #2C2F33;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(189, 186, 186);
    font-weight: 500;
}

.btn:hover{
    background-color: rgba(64, 237, 191, 0.8);
    outline: 2px solid rgb(178, 34, 34);
}


h3 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

#features {
    background-color: #EDE9D5;
    height: 280px;
    display: flex;
    align-items: center;
}

#features h3 {
    margin-top: 30px; /* reduce the margin-top */
    margin-bottom: 40px;
}

#feature-list {
    margin-top: 20px; /* add some top margin to the list */
    list-style: none; 
    text-align: center; /* center the list */
    padding: 0; /* reset padding */
    margin: 0; /* reset margin */
}

#feature-list li {
    margin-bottom: 10px; /* add some space between list items */
    padding: 0; /* reset padding */
    font-size: 20px;
    color: black;
}
  

#about {
    background-color: #C7E8CA;
    height: 300px;
    display: flex;
    align-items: center;
}

#about h3 {
    margin-top: 30px; /* reduce the margin-top */
    margin-bottom: 40px;
}

.footer {
    background-color: #497174;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    height: 50px;
    display: flex; /* set the display property to flex */
    align-items: center; /* center the child elements vertically */
    justify-content: center; /* center the child elements horizontally */
}

#footer-info {
    font-size: 16px;
    padding-top: 23px;
}