/* Basic styling */
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: sans-serif;
}

nav {
background: HSL(235 83% 59%);
padding: 5px 20px;
}

ul {
list-style-type: none;
}

a {
color: white;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.logo a:hover {
text-decoration: none;
}


.menu li {
font-size: 16px;
padding: 15px 5px;
white-space: nowrap;
}

.logo a,
.toggle a {
font-size: 20px;
}

.button.secondary {
border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.toggle {
order: 1;
}

.item.button {
order: 2;
}

.item {
width: 100%;
text-align: center;
order: 3;
display: none;
}

.item.active {
display: block;
}


/* Navbar Toggle */
.toggle {
cursor:pointer;
}

.bars {
background: #2C2F33;;
display: inline-block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.bars:before,
.bars:after {
background: #2C2F33;;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.bars:before {
top: 5px;
}

.bars:after {
top: -5px;
}


/* Tablet menu */
@media all and (min-width: 468px) {
    .menu {
    justify-content: center;
}

.logo {
    flex: 1;
}

.item.button {
    width: auto;
    order: 1;
    display: block;
}
.toggle {
    order: 2;
}
.button.secondary {
    border: 0;
}
.button a {
    padding: 7.5px 15px;
    background: #00ab96;
    border: 1px #000000 solid;
    border-radius:50em;
}

.button.secondary a {
    background: transparent;    
}
.button a:hover {
    text-decoration: none;
    transition:all .25s;
}
.button:not(.secondary) a:hover {
    background: #007265;
    border-color: #017e70;
}
.button.secondary a:hover {
    color: #ddd;
} 
}

/* Desktop menu */
@media all and (min-width: 768px) {
.item {
    display: block;
    width: auto;
}
.toggle {
    display: none;
}
.logo {
    order: 0;
}
.item {
    order: 1;
}
.button {
    order: 2;
}
.menu li {
    padding: 15px 10px;
}
.menu li.button {
    padding-right: 0;
}
}


/* Main Styles */

/* Tablet and Mobile */
@media all and (max-width: 767px) {
#hero h2,
p,
h3 {
    font-size: 24px;
}
#features,
#about {
    height: auto;
    padding: 20px 0;
}
#hero {
    height: auto;
    padding: 20px 0;
}
header {
    height: auto;
}

.hero-logo {
    width: 40px;
    height: 40px;
}
}



/* Tablet menu */
@media all and (min-width: 468px) {
#hero h2,
p,
h3 {
    font-size: 28px;
}

.hero-logo {
    width: 45px;
    height: 45px;
}
}

/* Desktop menu */
@media all and (min-width: 768px) {
#hero h2,
p,
h3 {
    font-size: 36px;
}

.hero-logo {
    width: 50px;
    height: 50px;
}
}


/* Main Styles Rest*/

header{
height: 30px;
}

#hero {
background-color: #2C2F33;
height: 390px; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
}


#hero h2 {
margin-top: 30px;
margin-bottom: 20px;
text-align: center;
color: #FEFEFE;
}

#hero p {
font-size: 20px;
line-height: 1.5;
margin-bottom: 40px;
text-align: center;
color: #FEFEFE;
}

#hero .btn {
margin: 0 auto;
}

.hero-logo {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px; /* Add space between the logo and the text */
}

.hero-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.container {
text-align: center;
color: #FEFEFE;
}

h2 { 
font-size: 36px;
font-weight: 700;
margin-top: 40px;
margin-bottom: 20px;
text-align: center;
}

p {
font-size: 20px;
line-height: 1.5;
margin-bottom: 40px;
text-align: center;
}

.btn {
padding: 9px 25px;
background-color: #00ab96;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
color: white;
font-weight: 500;
}

.btn:hover{
background: #007265;
border-color: #017e70;
outline: 2px solid black;
text-decoration: none;
}


h3 {
font-weight: 700;
font-size: 30px;
margin-top: 40px;
margin-bottom: 20px;
text-align: center;
color: #FEFEFE;
}


#features {
background-color: #2C2F33;
height: 280px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-left: 20px; /* Add left padding */
padding-right: 20px;
}

#features h3 {
margin-top: 30px; /* reduce the margin-top */
margin-bottom: 40px;
}

#feature-list {
margin-top: 20px; /* add some top margin to the list */
list-style: none; 
text-align: center; /* center the list */
padding: 0; /* reset padding */
margin: 0; /* reset margin */
}

#feature-list li {
margin-bottom: 10px; /* add some space between list items */
padding: 0; /* reset padding */
font-size: 20px;
color: #FEFEFE;
}

#about {
background-color: #23272A;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-left: 20px; /* Add left padding */
padding-right: 20px;
}


@media only screen and (min-width: 1920px){
    #about{
        padding-left: 100px;
        padding-right: 100px;
    }
}


#about h3 {
margin-top: 30px; /* reduce the margin-top */
margin-bottom: 40px;
}

.footer {
background-color: HSL(235 83% 59%);
/* position: fixed;  */
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
height: 50px;
display: flex; /* set the display property to flex */
align-items: center; /* center the child elements vertically */
justify-content: center; /* center the child elements horizontally */
}

#footer-info {
font-size: 16px;
padding-top: 40px;
}
